<!DOCTYPE html>
<html>

<head>
    <% include ../../elements/header %>
</head>

<body id="page-top">
    <div id="wrapper">
        <% include ../../elements/nav-left %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <% include ../../elements/nav-top %>
            </div>
            <!-- begin content value -->
            <!-- end content value -->
            <% include ../../elements/footer %>
        </div>
        <% include ../../elements/scroll-top %>
    </div>
    <% include ../../elements/script %>
</body>

</html>