<!DOCTYPE html>
<html>

<head>
    <% include ../../elements/header %>
</head>

<body id="page-top">
    <div id="wrapper">
        <% include ../../elements/nav-left %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <% include ../../elements/nav-top %>
            </div>
            <!-- begin content value -->
            <div class="container-fluid">
                <div class="text-center">
                    <a class="btn btn-success btn-lg btn-icon-split my-3" role="button">
                        <span class="text-white text">Thêm gian hàng mới</span>
                        <span class="text-white-50 icon">
                            <i class="fas fa-plus"></i>
                        </span>
                    </a>
                </div>
                <div class="intro">
                    <h2 class="text-center text-primary font-weight-bold">Danh sách gian hàng hiện tại</h2>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4 my-3">
                        <div>
                            <img class="img-fluid" src="assets/img/desk.jpg">
                            <h3 class="text-center text-success font-weight-bold">Gian hàng 1</h3>
                            <p class="text-center text-primary">Hiện tại, với sự phát triển thông minh của công nghệ thông tin. Thế
                                giới đã là thế giới phẳng. Thế nên bất kỳ ai cũng có thể tham gia bán hàng trên Amazon ...</p>
                        </div>
                        <div class="text-nowrap d-flex justify-content-around">
                            <a class="btn btn-info btn-icon-split" role="button" href="manager_product.html">
                                <span class="text-white-50 icon">
                                    <i class="fas fa-info-circle"></i>
                                </span>
                                <span class="text-white text">Xem chi tiết</span>
                            </a>
                            <a class="btn btn-danger btn-icon-split" role="button">
                                <span class="text-white-50 icon">
                                    <i class="fas fa-trash"></i>
                                </span>
                                <span class="text-white text">Xóa gian hàng</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 my-3">
                        <div>
                            <img class="img-fluid" src="assets/img/desk.jpg">
                            <h3 class="text-center text-success font-weight-bold">Gian hàng 1</h3>
                            <p class="text-center text-primary">Hiện tại, với sự phát triển thông minh của công nghệ thông tin. Thế
                                giới đã là thế giới phẳng. Thế nên bất kỳ ai cũng có thể tham gia bán hàng trên Amazon ...</p>
                        </div>
                        <div class="text-nowrap d-flex justify-content-around">
                            <a class="btn btn-info btn-icon-split" role="button" href="manager_product.html">
                                <span class="text-white-50 icon">
                                    <i class="fas fa-info-circle"></i>
                                </span>
                                <span class="text-white text">Xem chi tiết</span>
                            </a>
                            <a class="btn btn-danger btn-icon-split" role="button">
                                <span class="text-white-50 icon">
                                    <i class="fas fa-trash"></i>
                                </span>
                                <span class="text-white text">Xóa gian hàng</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 my-3">
                        <div>
                            <img class="img-fluid" src="assets/img/desk.jpg">
                            <h3 class="text-center text-success font-weight-bold">Gian hàng 1</h3>
                            <p class="text-center text-primary">Hiện tại, với sự phát triển thông minh của công nghệ thông tin. Thế
                                giới đã là thế giới phẳng. Thế nên bất kỳ ai cũng có thể tham gia bán hàng trên Amazon ...</p>
                        </div>
                        <div class="text-nowrap d-flex justify-content-around">
                            <a class="btn btn-info btn-icon-split" role="button" href="manager_product.html">
                                <span class="text-white-50 icon">
                                    <i class="fas fa-info-circle"></i>
                                </span>
                                <span class="text-white text">Xem chi tiết</span>
                            </a>
                            <a class="btn btn-danger btn-icon-split" role="button">
                                <span class="text-white-50 icon">
                                    <i class="fas fa-trash"></i>
                                </span>
                                <span class="text-white text">Xóa gian hàng</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 my-3">
                        <div>
                            <img class="img-fluid" src="assets/img/desk.jpg">
                            <h3 class="text-center text-success font-weight-bold">Gian hàng 1</h3>
                            <p class="text-center text-primary">Hiện tại, với sự phát triển thông minh của công nghệ thông tin. Thế
                                giới đã là thế giới phẳng. Thế nên bất kỳ ai cũng có thể tham gia bán hàng trên Amazon ...</p>
                        </div>
                        <div class="text-nowrap d-flex justify-content-around">
                            <a class="btn btn-info btn-icon-split" role="button" href="manager_product.html">
                                <span class="text-white-50 icon">
                                    <i class="fas fa-info-circle"></i>
                                </span>
                                <span class="text-white text">Xem chi tiết</span>
                            </a>
                            <a class="btn btn-danger btn-icon-split" role="button">
                                <span class="text-white-50 icon">
                                    <i class="fas fa-trash"></i>
                                </span>
                                <span class="text-white text">Xóa gian hàng</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 my-3">
                        <div>
                            <img class="img-fluid" src="assets/img/desk.jpg">
                            <h3 class="text-center text-success font-weight-bold">Gian hàng 1</h3>
                            <p class="text-center text-primary">Hiện tại, với sự phát triển thông minh của công nghệ thông tin. Thế
                                giới đã là thế giới phẳng. Thế nên bất kỳ ai cũng có thể tham gia bán hàng trên Amazon ...</p>
                        </div>
                        <div class="text-nowrap d-flex justify-content-around">
                            <a class="btn btn-info btn-icon-split" role="button" href="manager_product.html">
                                <span class="text-white-50 icon">
                                    <i class="fas fa-info-circle"></i>
                                </span>
                                <span class="text-white text">Xem chi tiết</span>
                            </a>
                            <a class="btn btn-danger btn-icon-split" role="button">
                                <span class="text-white-50 icon">
                                    <i class="fas fa-trash"></i>
                                </span>
                                <span class="text-white text">Xóa gian hàng</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 my-3">
                        <div>
                            <img class="img-fluid" src="assets/img/desk.jpg">
                            <h3 class="text-center text-success font-weight-bold">Gian hàng 1</h3>
                            <p class="text-center text-primary">Hiện tại, với sự phát triển thông minh của công nghệ thông tin. Thế
                                giới đã là thế giới phẳng. Thế nên bất kỳ ai cũng có thể tham gia bán hàng trên Amazon ...</p>
                        </div>
                        <div class="text-nowrap d-flex justify-content-around">
                            <a class="btn btn-info btn-icon-split" role="button" href="manager_product.html">
                                <span class="text-white-50 icon">
                                    <i class="fas fa-info-circle"></i>
                                </span>
                                <span class="text-white text">Xem chi tiết</span>
                            </a>
                            <a class="btn btn-danger btn-icon-split" role="button">
                                <span class="text-white-50 icon">
                                    <i class="fas fa-trash"></i>
                                </span>
                                <span class="text-white text">Xóa gian hàng</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end content value -->
            <% include ../../elements/footer %>
        </div>
        <% include ../../elements/scroll-top %>
    </div>
    <% include ../../elements/script %>
</body>

</html>