<!DOCTYPE html>
<html>

<head>
    <% include ../../elements/header %>
</head>

<body>
    <% include ../../elements/navbar %>
    <main class="page product-page">
        <section class="clean-block clean-product dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Thông tin chi tiết</h2>
                </div>
                <div class="block-content">
                    <div class="product-info">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="gallery">
                                    <div class="sp-wrap"><a href="assets/img/tech/image1.jpg"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image1.jpg"></a><a href="assets/img/tech/image1.jpg"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image1.jpg"></a><a href="assets/img/tech/image1.jpg"><img class="img-fluid d-block mx-auto" src="assets/img/tech/image1.jpg"></a></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info">
                                    <h3>Iphone 6s plus&nbsp;</h3>
                                    <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star-half-empty.svg"><img src="assets/img/star-empty.svg"></div>
                                    <div class="price">
                                        <h3>$300.00</h3>
                                    </div>
                                    <div>
                                        <div class="modal fade" role="dialog" tabindex="-1" id="add-to-cart-success">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Thêm vào giỏ hàng thành công</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button></div>
                                                    <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Đóng</button></div>
                                                </div>
                                            </div>
                                        </div><button class="btn btn-primary" type="button" data-target="#add-to-cart-success" data-toggle="modal"><i class="icon-basket"></i>Thêm vào giỏ hàng</button></div>
                                    <div class="summary">
                                        <p><strong>Cam kết:&nbsp;</strong><br>1 –Đầy đủ vân tay sử dụng nhạy<br>2- cảm ứng mượt trơn khi sử dụng lướt Web<br>3- tất cả các chức năng đều hoạt động tốt dù là nhỏ nhất<br>4- bên shop bán 2 bản : lock đã fix quốc
                                            tế và bản quốc tế 100% ( tùy vào túi tiền và nhu cầu của bạn nha)</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-info">
                        <div>
                            <ul class="nav nav-tabs" id="myTab">
                                <li class="nav-item"><a class="nav-link active" role="tab" data-toggle="tab" id="description-tab" href="#description">Mô tả chi tiết</a></li>
                                <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" id="specifications-tabs" href="#specifications">Thông số kĩ thuật</a></li>
                                <li class="nav-item"><a class="nav-link" role="tab" data-toggle="tab" id="reviews-tab" href="#reviews">Đánh giá</a></li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show description" role="tabpanel" id="description">
                                    <p class="text-center"><strong>Đột phá trong thiết kế</strong><br><em>Nguyên khối kim loại</em></p>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <figure class="figure"><img class="img-fluid figure-img" src="assets/img/tech/image3.png"></figure>
                                        </div>
                                        <div class="col-md-7">
                                            <h4>Trải nghiệm hoàn hảo</h4>
                                            <p>Được đổi mới mạnh mẽ về thiết kế, cấu hình cùng một màn hình kích thước lớn đi cùng mang đến nhiều thích thú hơn trong sử dụng.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-7 right">
                                            <h4>Bo tròn lạ mắt</h4>
                                            <p>Các phiên bản của iPhone 6 Plus được bo tròn các cạnh nên khi cầm lâu máy sẽ không bị đau do cấn vào tay, nhất là với chiếc điện thoại có kích thước lớn thì điều này sẽ làm bạn yêu thích hơn.</p>
                                        </div>
                                        <div class="col-md-5">
                                            <figure class="figure"><img class="img-fluid figure-img" src="assets/img/tech/image3.png"></figure>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade show specifications" role="tabpanel" id="specifications">
                                    <div class="table-responsive table-bordered">
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr>
                                                    <td class="stat">Màn hình rộng</td>
                                                    <td>5.5"</td>
                                                </tr>
                                                <tr>
                                                    <td class="stat">Camera</td>
                                                    <td>12MP</td>
                                                </tr>
                                                <tr>
                                                    <td class="stat">RAM</td>
                                                    <td>4GB</td>
                                                </tr>
                                                <tr>
                                                    <td class="stat">Hệ điều hành</td>
                                                    <td>iOS</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane active fade show" role="tabpanel" id="reviews">
                                    <div class="reviews">
                                        <div class="review-item">
                                            <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star-empty.svg"></div>
                                            <h4>Nguyễn Thọ Tuấn</h4><span class="text-muted"><a href="https://facebook.com/ngthotuan">nttuan</a>, 03 tháng 11 năm 2019</span>
                                            <p>Sản phẩm sài tốt đến thời điểm hiện tại, máy chạy mượt mà, không nóng máy, pin khỏe</p>
                                        </div>
                                    </div>
                                    <div class="reviews">
                                        <div class="review-item">
                                            <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star-empty.svg"></div>
                                            <h4>Nguyễn Thị Bích Ngọc</h4><span class="text-muted"><a href="https://facebook.com/ngthotuan">Bich Ngoc Nguyen Thi</a>, 31 tháng 10 năm 2019</span>
                                            <p>Màu sắc và hình ảnh ok, xài rất thích màn hình to rõ nét, âm thanh hay, cầm rất chắc tay</p>
                                        </div>
                                    </div>
                                    <div class="reviews">
                                        <div class="review-item">
                                            <div class="rating"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star.svg"><img src="assets/img/star-empty.svg"></div>
                                            <h4>Cao Xuân Thắng</h4><span class="text-muted"><a href="https://facebook.com/ngthotuan">Thang Cao</a>, 03 tháng 10 năm 2019</span>
                                            <p>Đã sử dụng được 1 tuần. Rất tuyệt cho 1 sản phẩm 3 năm tuổi. Điện thoại xài nhanh, mượt, sang, khá lâu hết bin. Camera sau chụp đẹp. Tuy nhiên cam trước có 1.2mp nên chụp yếu, nhất là trời tối.&nbsp;</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <% include ../../elements/footer %>
    <% include ../../elements/script %>
</body>

</html>