<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Blank Page - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/Projects-Clean.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
                    <div class="sidebar-brand-icon rotate-n-15"><i class="fas fa-laugh-wink"></i></div>
                    <div class="sidebar-brand-text mx-3"><span>Lam Yui Store</span></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="manager_users.html"><i class="fas fa-user-friends xcv"></i><span>Quản lý các tài khoản của người dùng</span></a><a class="nav-link" href="change_user_info.html"><i class="fas fa-user-cog"></i><span>Thay đổi thông tin cá nhân của người dùng</span></a>
                        <a
                            class="nav-link active" href="manager_stall.html"><i class="fas fa-store-alt"></i><span>Quản lý hệ thống gian hàng</span></a><a class="nav-link" href="manager_product.html"><i class="fa fa-product-hunt"></i><span>Quản lý sản phẩm trên gian hàng</span></a><a class="nav-link" href="manager_order.html"><i class="fas fa-table"></i><span>Quản lý đơn đặt hàng</span></a>
                            <a
                                class="nav-link" href="sales_detail.html"><i class="fas fa-chart-bar"></i><span>Thống kê doanh số bán hàng</span></a><a class="nav-link" href="top10_detail.html"><i class="fas fa-glasses"></i><span>Thống kê số lượng bán top 10</span></a></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Tìm kiếm ...">
                                <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                            </div>
                        </form>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Tìm kiếm ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">Nguyễn Thọ Tuấn</span><img class="border rounded-circle img-profile" src="assets/img/admin.png"></a>
                                    <div
                                        class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu"><a class="dropdown-item" role="presentation" href="admin_detail.html"><i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Cá nhân</a><a class="dropdown-item" role="presentation" href="admin_login.html"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Đăng xuất</a></div>
                    </div>
                    </li>
                    </ul>
            </div>
            </nav>
            <div class="container-fluid">
                <div class="text-center"><a class="btn btn-success btn-lg btn-icon-split my-3" role="button"><span class="text-white text">Thêm gian hàng mới</span><span class="text-white-50 icon"><i class="fas fa-plus"></i></span></a></div>
                <div class="intro">
                    <h2 class="text-center text-primary font-weight-bold">Danh sách gian hàng hiện tại</h2>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-4 my-3">
                        <div><img class="img-fluid" src="assets/img/desk.jpg">
                            <h3 class="text-center text-success font-weight-bold">Gian hàng 1</h3>
                            <p class="text-center text-primary">Hiện tại, với sự phát triển thông minh của công nghệ thông tin. Thế giới đã là thế giới phẳng. Thế nên bất kỳ ai cũng có thể tham gia bán hàng trên Amazon ...</p>
                        </div>
                        <div class="text-nowrap d-flex justify-content-around"><a class="btn btn-info btn-icon-split" role="button" href="manager_product.html"><span class="text-white-50 icon"><i class="fas fa-info-circle"></i></span><span class="text-white text">Xem chi tiết</span></a><a class="btn btn-danger btn-icon-split"
                                role="button"><span class="text-white-50 icon"><i class="fas fa-trash"></i></span><span class="text-white text">Xóa gian hàng</span></a></div>
                    </div>
                    <div class="col-sm-6 col-md-4 my-3">
                        <div><img class="img-fluid" src="assets/img/desk.jpg">
                            <h3 class="text-center text-success font-weight-bold">Gian hàng 1</h3>
                            <p class="text-center text-primary">Hiện tại, với sự phát triển thông minh của công nghệ thông tin. Thế giới đã là thế giới phẳng. Thế nên bất kỳ ai cũng có thể tham gia bán hàng trên Amazon ...</p>
                        </div>
                        <div class="text-nowrap d-flex justify-content-around"><a class="btn btn-info btn-icon-split" role="button" href="manager_product.html"><span class="text-white-50 icon"><i class="fas fa-info-circle"></i></span><span class="text-white text">Xem chi tiết</span></a><a class="btn btn-danger btn-icon-split"
                                role="button"><span class="text-white-50 icon"><i class="fas fa-trash"></i></span><span class="text-white text">Xóa gian hàng</span></a></div>
                    </div>
                    <div class="col-sm-6 col-md-4 my-3">
                        <div><img class="img-fluid" src="assets/img/desk.jpg">
                            <h3 class="text-center text-success font-weight-bold">Gian hàng 1</h3>
                            <p class="text-center text-primary">Hiện tại, với sự phát triển thông minh của công nghệ thông tin. Thế giới đã là thế giới phẳng. Thế nên bất kỳ ai cũng có thể tham gia bán hàng trên Amazon ...</p>
                        </div>
                        <div class="text-nowrap d-flex justify-content-around"><a class="btn btn-info btn-icon-split" role="button" href="manager_product.html"><span class="text-white-50 icon"><i class="fas fa-info-circle"></i></span><span class="text-white text">Xem chi tiết</span></a><a class="btn btn-danger btn-icon-split"
                                role="button"><span class="text-white-50 icon"><i class="fas fa-trash"></i></span><span class="text-white text">Xóa gian hàng</span></a></div>
                    </div>
                    <div class="col-sm-6 col-md-4 my-3">
                        <div><img class="img-fluid" src="assets/img/desk.jpg">
                            <h3 class="text-center text-success font-weight-bold">Gian hàng 1</h3>
                            <p class="text-center text-primary">Hiện tại, với sự phát triển thông minh của công nghệ thông tin. Thế giới đã là thế giới phẳng. Thế nên bất kỳ ai cũng có thể tham gia bán hàng trên Amazon ...</p>
                        </div>
                        <div class="text-nowrap d-flex justify-content-around"><a class="btn btn-info btn-icon-split" role="button" href="manager_product.html"><span class="text-white-50 icon"><i class="fas fa-info-circle"></i></span><span class="text-white text">Xem chi tiết</span></a><a class="btn btn-danger btn-icon-split"
                                role="button"><span class="text-white-50 icon"><i class="fas fa-trash"></i></span><span class="text-white text">Xóa gian hàng</span></a></div>
                    </div>
                    <div class="col-sm-6 col-md-4 my-3">
                        <div><img class="img-fluid" src="assets/img/desk.jpg">
                            <h3 class="text-center text-success font-weight-bold">Gian hàng 1</h3>
                            <p class="text-center text-primary">Hiện tại, với sự phát triển thông minh của công nghệ thông tin. Thế giới đã là thế giới phẳng. Thế nên bất kỳ ai cũng có thể tham gia bán hàng trên Amazon ...</p>
                        </div>
                        <div class="text-nowrap d-flex justify-content-around"><a class="btn btn-info btn-icon-split" role="button" href="manager_product.html"><span class="text-white-50 icon"><i class="fas fa-info-circle"></i></span><span class="text-white text">Xem chi tiết</span></a><a class="btn btn-danger btn-icon-split"
                                role="button"><span class="text-white-50 icon"><i class="fas fa-trash"></i></span><span class="text-white text">Xóa gian hàng</span></a></div>
                    </div>
                    <div class="col-sm-6 col-md-4 my-3">
                        <div><img class="img-fluid" src="assets/img/desk.jpg">
                            <h3 class="text-center text-success font-weight-bold">Gian hàng 1</h3>
                            <p class="text-center text-primary">Hiện tại, với sự phát triển thông minh của công nghệ thông tin. Thế giới đã là thế giới phẳng. Thế nên bất kỳ ai cũng có thể tham gia bán hàng trên Amazon ...</p>
                        </div>
                        <div class="text-nowrap d-flex justify-content-around"><a class="btn btn-info btn-icon-split" role="button" href="manager_product.html"><span class="text-white-50 icon"><i class="fas fa-info-circle"></i></span><span class="text-white text">Xem chi tiết</span></a><a class="btn btn-danger btn-icon-split"
                                role="button"><span class="text-white-50 icon"><i class="fas fa-trash"></i></span><span class="text-white text">Xóa gian hàng</span></a></div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer"></footer>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a></div>
    <div class="projects-clean"></div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>