<!DOCTYPE html>
<html>

<head>
    <% include ../../elements/header %>
</head>

<body>
    <% include ../../elements/navbar %>
    <main class="page shopping-cart-page">
        <section class="clean-block clean-cart dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Giỏ hàng của bạn</h2>
                    <p>Tiến hành kiểm tra kĩ số lượng mặt hàng bạn muốn mua và tiến hành thanh toán</p>
                </div>
                <div class="content">
                    <div class="row no-gutters">
                        <div class="col-md-12 col-lg-8">
                            <div class="modal fade" role="dialog" tabindex="-1" id="confirm-delete">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Xác nhận xóa</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Bạn có chắc chắn muốn xóa sản phẩm
                                                <strong> Iphone SE </strong>ra khỏi giỏ hàng ?
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-light" type="button" data-dismiss="modal">Hủy bỏ</button>
                                            <button class="btn btn-danger" type="button">Xóa</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="items">
                                <div class="product">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="col-md-3">
                                            <div class="product-image">
                                                <img class="img-fluid d-block mx-auto image"
                                                    src="assets/img/tech/image2.jpg">
                                            </div>
                                        </div>
                                        <div class="col-md-5 product-info">
                                            <a class="product-name" href="#">Iphone SE</a>
                                            <div class="product-specs">
                                                <div>
                                                    <span>Màn hình:&nbsp;</span>
                                                    <span class="value">5 inch</span>
                                                </div>
                                                <div>
                                                    <span>RAM:&nbsp;</span>
                                                    <span class="value">4GB</span>
                                                </div>
                                                <div>
                                                    <span>Bộ nhớ:&nbsp;</span>
                                                    <span class="value">32GB</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-2 quantity">
                                            <label class="d-none d-md-block" for="quantity">Số lượng</label>
                                            <input type="number" id="number" class="form-control quantity-input" value="1">
                                        </div>
                                        <div class="col-6 col-md-2 price">
                                            <span>$120</span>
                                            <button class="btn btn-primary text-center bg-danger border-danger btn-sm"
                                                type="button" data-target="#confirm-delete" data-toggle="modal">Xóa
                                                SP</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="product">
                                    <div class="row justify-content-center align-items-center">
                                        <div class="col-md-3">
                                            <div class="product-image">
                                                <img class="img-fluid d-block mx-auto image"
                                                    src="assets/img/tech/image3.png">
                                            </div>
                                        </div>
                                        <div class="col-md-5 product-info">
                                            <a class="product-name" href="#">Iphone 6s plus</a>
                                            <div class="product-specs">
                                                <div>
                                                    <span>Màn hình:&nbsp;</span>
                                                    <span class="value">5 inch</span>
                                                </div>
                                                <div>
                                                    <span>RAM:&nbsp;</span>
                                                    <span class="value">4GB</span>
                                                </div>
                                                <div>
                                                    <span>Bộ nhớ:&nbsp;</span>
                                                    <span class="value">64GB</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6 col-md-2 quantity">
                                            <label class="d-none d-md-block" for="quantity">Số lượng</label>
                                            <input type="number" id="number" class="form-control quantity-input" value="1">
                                        </div>
                                        <div class="col-6 col-md-2 price">
                                            <span>$300</span>
                                            <button class="btn btn-primary text-center bg-danger border-danger btn-sm"
                                                type="button" data-target="#confirm-delete" data-toggle="modal">Xóa
                                                SP</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <div class="summary">
                                <h3>Thanh toán</h3>
                                <h4>
                                    <span class="text">Tổng số tiền</span>
                                    <span class="price">$420</span>
                                </h4>
                                <h4>
                                    <span class="text">Giảm giá</span>
                                    <span class="price">$0</span>
                                </h4>
                                <h4>
                                    <span class="text">Phí vận chuyển</span>
                                    <span class="price">$0</span>
                                </h4>
                                <h4>
                                    <span class="text">Tồng thanh toán</span>
                                    <span class="price">$420</span>
                                </h4>
                                <a class="btn btn-primary btn-block btn-lg" href="delivery-info">Thanh toán ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <% include ../../elements/footer %>
    <% include ../../elements/script %>
</body>

</html>