<footer class="page-footer dark">
    <div class="container">
        <div class="row">
            <div class="col">
                <h5>Hỗ trợ khách hàng</h5>
                <ul>
                    <li><span style="color: rgb(238,239,241);">Hotline :&nbsp;<strong>1900-2043</strong>( 8-21h30 kể cả T7, CN)<br></span></li>
                    <li><span style="color: rgb(238,239,241);">Khiếu nại - Góp ý :&nbsp;<strong>028 71099087</strong>( 8-21h30 kể cả T7, CN)<br></span></li>
                </ul>
            </div>
            <div class="col">
                <h5><strong>Hệ thống cửa hàng</strong></h5>
                <ul>
                    <li><span style="color: rgb(238,239,241);"><a href="https://www.google.com/maps/place/650+L%C3%AA+H%E1%BB%93ng+Phong,+Ph%C6%B0%E1%BB%9Dng+10,+Qu%E1%BA%ADn+10,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/@10.7700102,106.671496,17z/data=!3m1!4b1!4m5!3m4!1s0x31752edfcbd24593:0xb986680c9faf1169!8m2!3d10.7700049!4d106.6736847">650 Lê Hồng Phong, Phường 10, Quận 10, TP.HCM</a>&nbsp;<a href="tel:0938883644">(0938 883 644)</a><br></span></li>
                    <li><span style="color: rgb(238,239,241);"><a href="https://www.google.com/maps/place/650+L%C3%AA+H%E1%BB%93ng+Phong,+Ph%C6%B0%E1%BB%9Dng+10,+Qu%E1%BA%ADn+10,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/@10.7700102,106.671496,17z/data=!3m1!4b1!4m5!3m4!1s0x31752edfcbd24593:0xb986680c9faf1169!8m2!3d10.7700049!4d106.6736847">650 Lê Hồng Phong, Phường 10, Quận 10, TP.HCM</a>&nbsp;<a href="tel:0938883644">(0938 883 644)</a><br></span></li>
                    <li><span style="color: rgb(238,239,241);"><a href="https://www.google.com/maps/place/43+L%C3%AA+V%C4%83n+Vi%E1%BB%87t,+Hi%E1%BB%87p+Ph%C3%BA,+Qu%E1%BA%ADn+9,+H%E1%BB%93+Ch%C3%AD+Minh,+Vi%E1%BB%87t+Nam/@10.8460533,106.7769253,17z/data=!3m1!4b1!4m5!3m4!1s0x3175270c49ffd30b:0xc41a017318bbb0d9!8m2!3d10.846048!4d106.779114">43 Lê Văn Việt, Phường Hiệp Phú, Quận 9, TP.HCM&nbsp;(0899 984 343)</a><br></span></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© 2019 LamYui Store</p>
    </div>
</footer>