<!DOCTYPE html>
<html>

<head>
    <% include ../../elements/header %>
</head>

<body id="page-top">
    <div id="wrapper">
        <% include ../../elements/nav-left %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <% include ../../elements/nav-top %>
            </div>
            <!-- begin content value -->
            <div class="container-fluid">
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 font-weight-bold">Tất cả tài khoản người dùng</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 text-nowrap">
                                <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                                    <label>Số lượng / trang&nbsp;
                                        <select class="form-control form-control-sm custom-select custom-select-sm">
                                            <option value="10" selected="">10</option>
                                            <option value="25">25</option>
                                            <option value="50">50</option>
                                            <option value="100">100</option>
                                        </select>&nbsp;
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-md-right dataTables_filter" id="dataTable_filter">
                                    <label>
                                        <input type="search" class="form-control form-control-sm" aria-controls="dataTable"
                                            placeholder="Tìm kiếm">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                            <table class="table dataTable my-0" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>Tên</th>
                                        <th>Email</th>
                                        <th>Địa chỉ</th>
                                        <th>Tuổi</th>
                                        <th>Ngày gia nhập</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <img class="rounded-circle mr-2" width="30" height="30"
                                                src="assets/img/avatars/avatar1.jpeg">Nguyễn Văn A
                                        </td>
                                        <td>nva@gmail.com</td>
                                        <td>67/35 XVNT, P.17, Bình Thạnh</td>
                                        <td>27</td>
                                        <td>2008/11/28</td>
                                        <td class="text-center">
                                            <a href="change-user-info">
                                                <br>
                                                <i class="fa fa-edit" style="color: rgb(32,43,127);font-size: 25px;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img class="rounded-circle mr-2" width="30" height="30"
                                                src="assets/img/avatars/avatar3.jpeg">Nguyễn Văn A
                                        </td>
                                        <td>nva@gmail.com</td>
                                        <td>67/35 XVNT, P.17, Bình Thạnh</td>
                                        <td>27</td>
                                        <td>2008/11/28</td>
                                        <td class="text-center">
                                            <a href="change-user-info">
                                                <br>
                                                <i class="fa fa-edit" style="color: rgb(32,43,127);font-size: 25px;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img class="rounded-circle mr-2" width="30" height="30"
                                                src="assets/img/avatars/avatar4.jpeg">Nguyễn Văn A
                                        </td>
                                        <td>nva@gmail.com</td>
                                        <td>67/35 XVNT, P.17, Bình Thạnh</td>
                                        <td>27</td>
                                        <td>2008/11/28</td>
                                        <td class="text-center">
                                            <a href="change-user-info">
                                                <br>
                                                <i class="fa fa-edit" style="color: rgb(32,43,127);font-size: 25px;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img class="rounded-circle mr-2" width="30" height="30"
                                                src="assets/img/avatars/avatar1.jpeg">Nguyễn Văn A
                                        </td>
                                        <td>nva@gmail.com</td>
                                        <td>67/35 XVNT, P.17, Bình Thạnh</td>
                                        <td>27</td>
                                        <td>2008/11/28</td>
                                        <td class="text-center">
                                            <a href="change-user-info">
                                                <br>
                                                <i class="fa fa-edit" style="color: rgb(32,43,127);font-size: 25px;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img class="rounded-circle mr-2" width="30" height="30"
                                                src="assets/img/avatars/avatar2.jpeg">Nguyễn Văn A
                                        </td>
                                        <td>nva@gmail.com</td>
                                        <td>67/35 XVNT, P.17, Bình Thạnh</td>
                                        <td>27</td>
                                        <td>2008/11/28</td>
                                        <td class="text-center">
                                            <a href="change-user-info">
                                                <br>
                                                <i class="fa fa-edit" style="color: rgb(32,43,127);font-size: 25px;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img class="rounded-circle mr-2" width="30" height="30"
                                                src="assets/img/avatars/avatar1.jpeg">Nguyễn Văn A
                                        </td>
                                        <td>nva@gmail.com</td>
                                        <td>67/35 XVNT, P.17, Bình Thạnh</td>
                                        <td>27</td>
                                        <td>2008/11/28</td>
                                        <td class="text-center">
                                            <a href="change-user-info">
                                                <br>
                                                <i class="fa fa-edit" style="color: rgb(32,43,127);font-size: 25px;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img class="rounded-circle mr-2" width="30" height="30"
                                                src="assets/img/avatars/avatar4.jpeg">Nguyễn Văn A
                                        </td>
                                        <td>nva@gmail.com</td>
                                        <td>67/35 XVNT, P.17, Bình Thạnh</td>
                                        <td>27</td>
                                        <td>2008/11/28</td>
                                        <td class="text-center">
                                            <a href="change-user-info">
                                                <br>
                                                <i class="fa fa-edit" style="color: rgb(32,43,127);font-size: 25px;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img class="rounded-circle mr-2" width="30" height="30"
                                                src="assets/img/avatars/avatar3.jpeg">Nguyễn Văn A
                                        </td>
                                        <td>nva@gmail.com</td>
                                        <td>67/35 XVNT, P.17, Bình Thạnh</td>
                                        <td>27</td>
                                        <td>2008/11/28</td>
                                        <td class="text-center">
                                            <a href="change-user-info">
                                                <br>
                                                <i class="fa fa-edit" style="color: rgb(32,43,127);font-size: 25px;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img class="rounded-circle mr-2" width="30" height="30"
                                                src="assets/img/avatars/avatar1.jpeg">Nguyễn Văn A
                                        </td>
                                        <td>nva@gmail.com</td>
                                        <td>67/35 XVNT, P.17, Bình Thạnh</td>
                                        <td>27</td>
                                        <td>2008/11/28</td>
                                        <td class="text-center">
                                            <a href="change-user-info">
                                                <br>
                                                <i class="fa fa-edit" style="color: rgb(32,43,127);font-size: 25px;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img class="rounded-circle mr-2" width="30" height="30"
                                                src="assets/img/avatars/avatar4.jpeg">Nguyễn Văn A
                                        </td>
                                        <td>nva@gmail.com</td>
                                        <td>67/35 XVNT, P.17, Bình Thạnh</td>
                                        <td>27</td>
                                        <td>2008/11/28</td>
                                        <td class="text-center">
                                            <a href="change-user-info">
                                                <br>
                                                <i class="fa fa-edit" style="color: rgb(32,43,127);font-size: 25px;"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td>
                                            <strong>Tên</strong>
                                        </td>
                                        <td>
                                            <strong>Email</strong>
                                        </td>
                                        <td>
                                            <strong>Địa chỉ</strong>
                                        </td>
                                        <td>
                                            <strong>Tuổi</strong>
                                        </td>
                                        <td>
                                            <strong>Ngày gia nhập</strong>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-6 align-self-center">
                                <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Hiện thị 1 đến 10
                                    trong tổng số 27</p>
                            </div>
                            <div class="col-md-6">
                                <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                    <ul class="pagination">
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" aria-label="Previous">
                                                <span aria-hidden="true">«</span>
                                            </a>
                                        </li>
                                        <li class="page-item active">
                                            <a class="page-link" href="#">1</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">2</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#">3</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Next">
                                                <span aria-hidden="true">»</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end content value -->
            <% include ../../elements/footer %>
        </div>
        <% include ../../elements/scroll-top %>
    </div>
    <% include ../../elements/script %>
</body>

</html>