<!DOCTYPE html>
<html>

<head>
    <% include ../../elements/header %>
</head>

<body id="page-top">
    <div id="wrapper">
        <% include ../../elements/nav-left %>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <% include ../../elements/nav-top %>
            </div>
            <!-- begin content value -->
            <div class="container-fluid">
                <div class="text-center">
                    <a class="btn btn-success btn-lg btn-icon-split my-3" role="button">
                        <span class="text-white text">Thêm&nbsp; sản phẩm mới</span>
                        <span class="text-white-50 icon">
                            <i class="fas fa-plus"></i>
                        </span>
                    </a>
                </div>
                <h1 class="text-center text-dark font-weight-bold mt-5">Các sản phẩm trên gian hàng</h1>
                <div class="row">
                    <div class="col-sm-4 my-3">
                        <div>
                            <img class="img-fluid" src="assets/img/iphone.png">
                            <h3 class="text-uppercase text-center text-primary">
                                <strong>Apple iPhone 6 64GB Quốc Tế</strong>
                            </h3>
                            <h4 class="text-center text-danger">Giá: 789 $</h4>
                            <p class="lead text-dark">Màn hình: LED-backlit IPS LCD, 4.7",Retina HD
                                <br>Hệ điều hành: iOS 10
                                <br>Camera sau: 8 MP
                                <br>Camera trước: 1.2 MP
                                <br>CPU: Apple A8 2 nhân 64-bit, 1.4 GHz
                                <br>RAM: 1 GB/ ROM 16GB
                                <br>Thẻ SIM: 1 Sim, Nano SIM
                                <br>Kết nối: WiFi,
                                3G, 4G LTE Cat 4
                                <br>Dung lượng pin: 1810 mAh
                            </p>
                        </div>
                        <div class="d-flex justify-content-around">
                            <a class="btn btn-warning btn-icon-split" role="button">
                                <span class="text-white-50 icon">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </span>
                                <span class="text-white text">Sửa thông tin</span>
                            </a>
                            <a class="btn btn-danger btn-icon-split" role="button">
                                <span class="text-white-50 icon">
                                    <i class="fas fa-trash"></i>
                                </span>
                                <span class="text-white text">Xóa sản phẩm</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 my-3">
                        <div>
                            <img class="img-fluid" src="assets/img/iphone.png">
                            <h3 class="text-uppercase text-center text-primary">
                                <strong>Apple iPhone 6 64GB Quốc Tế</strong>
                            </h3>
                            <h4 class="text-center text-danger">Giá: 789 $</h4>
                            <p class="lead text-dark">Màn hình: LED-backlit IPS LCD, 4.7",Retina HD
                                <br>Hệ điều hành: iOS 10
                                <br>Camera sau: 8 MP
                                <br>Camera trước: 1.2 MP
                                <br>CPU: Apple A8 2 nhân 64-bit, 1.4 GHz
                                <br>RAM: 1 GB/ ROM 16GB
                                <br>Thẻ SIM: 1 Sim, Nano SIM
                                <br>Kết nối: WiFi,
                                3G, 4G LTE Cat 4
                                <br>Dung lượng pin: 1810 mAh
                            </p>
                        </div>
                        <div class="d-flex justify-content-around">
                            <a class="btn btn-warning btn-icon-split" role="button">
                                <span class="text-white-50 icon">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </span>
                                <span class="text-white text">Sửa thông tin</span>
                            </a>
                            <a class="btn btn-danger btn-icon-split" role="button">
                                <span class="text-white-50 icon">
                                    <i class="fas fa-trash"></i>
                                </span>
                                <span class="text-white text">Xóa sản phẩm</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 my-3">
                        <div>
                            <img class="img-fluid" src="assets/img/iphone.png">
                            <h3 class="text-uppercase text-center text-primary">
                                <strong>Apple iPhone 6 64GB Quốc Tế</strong>
                            </h3>
                            <h4 class="text-center text-danger">Giá: 789 $</h4>
                            <p class="lead text-dark">Màn hình: LED-backlit IPS LCD, 4.7",Retina HD
                                <br>Hệ điều hành: iOS 10
                                <br>Camera sau: 8 MP
                                <br>Camera trước: 1.2 MP
                                <br>CPU: Apple A8 2 nhân 64-bit, 1.4 GHz
                                <br>RAM: 1 GB/ ROM 16GB
                                <br>Thẻ SIM: 1 Sim, Nano SIM
                                <br>Kết nối: WiFi,
                                3G, 4G LTE Cat 4
                                <br>Dung lượng pin: 1810 mAh
                            </p>
                        </div>
                        <div class="d-flex justify-content-around">
                            <a class="btn btn-warning btn-icon-split" role="button">
                                <span class="text-white-50 icon">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </span>
                                <span class="text-white text">Sửa thông tin</span>
                            </a>
                            <a class="btn btn-danger btn-icon-split" role="button">
                                <span class="text-white-50 icon">
                                    <i class="fas fa-trash"></i>
                                </span>
                                <span class="text-white text">Xóa sản phẩm</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 my-3">
                        <div>
                            <img class="img-fluid" src="assets/img/iphone.png">
                            <h3 class="text-uppercase text-center text-primary">
                                <strong>Apple iPhone 6 64GB Quốc Tế</strong>
                            </h3>
                            <h4 class="text-center text-danger">Giá: 789 $</h4>
                            <p class="lead text-dark">Màn hình: LED-backlit IPS LCD, 4.7",Retina HD
                                <br>Hệ điều hành: iOS 10
                                <br>Camera sau: 8 MP
                                <br>Camera trước: 1.2 MP
                                <br>CPU: Apple A8 2 nhân 64-bit, 1.4 GHz
                                <br>RAM: 1 GB/ ROM 16GB
                                <br>Thẻ SIM: 1 Sim, Nano SIM
                                <br>Kết nối: WiFi,
                                3G, 4G LTE Cat 4
                                <br>Dung lượng pin: 1810 mAh
                            </p>
                        </div>
                        <div class="d-flex justify-content-around">
                            <a class="btn btn-warning btn-icon-split" role="button">
                                <span class="text-white-50 icon">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </span>
                                <span class="text-white text">Sửa thông tin</span>
                            </a>
                            <a class="btn btn-danger btn-icon-split" role="button">
                                <span class="text-white-50 icon">
                                    <i class="fas fa-trash"></i>
                                </span>
                                <span class="text-white text">Xóa sản phẩm</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 my-3">
                        <div>
                            <img class="img-fluid" src="assets/img/iphone.png">
                            <h3 class="text-uppercase text-center text-primary">
                                <strong>Apple iPhone 6 64GB Quốc Tế</strong>
                            </h3>
                            <h4 class="text-center text-danger">Giá: 789 $</h4>
                            <p class="lead text-dark">Màn hình: LED-backlit IPS LCD, 4.7",Retina HD
                                <br>Hệ điều hành: iOS 10
                                <br>Camera sau: 8 MP
                                <br>Camera trước: 1.2 MP
                                <br>CPU: Apple A8 2 nhân 64-bit, 1.4 GHz
                                <br>RAM: 1 GB/ ROM 16GB
                                <br>Thẻ SIM: 1 Sim, Nano SIM
                                <br>Kết nối: WiFi,
                                3G, 4G LTE Cat 4
                                <br>Dung lượng pin: 1810 mAh
                            </p>
                        </div>
                        <div class="d-flex justify-content-around">
                            <a class="btn btn-warning btn-icon-split" role="button">
                                <span class="text-white-50 icon">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </span>
                                <span class="text-white text">Sửa thông tin</span>
                            </a>
                            <a class="btn btn-danger btn-icon-split" role="button">
                                <span class="text-white-50 icon">
                                    <i class="fas fa-trash"></i>
                                </span>
                                <span class="text-white text">Xóa sản phẩm</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4 my-3">
                        <div>
                            <img class="img-fluid" src="assets/img/iphone.png">
                            <h3 class="text-uppercase text-center text-primary">
                                <strong>Apple iPhone 6 64GB Quốc Tế</strong>
                            </h3>
                            <h4 class="text-center text-danger">Giá: 789 $</h4>
                            <p class="lead text-dark">Màn hình: LED-backlit IPS LCD, 4.7",Retina HD
                                <br>Hệ điều hành: iOS 10
                                <br>Camera sau: 8 MP
                                <br>Camera trước: 1.2 MP
                                <br>CPU: Apple A8 2 nhân 64-bit, 1.4 GHz
                                <br>RAM: 1 GB/ ROM 16GB
                                <br>Thẻ SIM: 1 Sim, Nano SIM
                                <br>Kết nối: WiFi,
                                3G, 4G LTE Cat 4
                                <br>Dung lượng pin: 1810 mAh
                            </p>
                        </div>
                        <div class="d-flex justify-content-around">
                            <a class="btn btn-warning btn-icon-split" role="button">
                                <span class="text-white-50 icon">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </span>
                                <span class="text-white text">Sửa thông tin</span>
                            </a>
                            <a class="btn btn-danger btn-icon-split" role="button">
                                <span class="text-white-50 icon">
                                    <i class="fas fa-trash"></i>
                                </span>
                                <span class="text-white text">Xóa sản phẩm</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end content value -->
            <% include ../../elements/footer %>
        </div>
        <% include ../../elements/scroll-top %>
    </div>
    <% include ../../elements/script %>
</body>

</html>